<div class="container">
  <mat-card class="card">
    <h1 class="mat-h1">Form Search</h1>

    <div class="example-form">
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>Type to search...</mat-label>
          <input
            type="text"
            placeholder="Pick one"
            aria-label="Number"
            matInput
            [formControl]="myControl"
            [matAutocomplete]="auto"
          />
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option
              *ngFor="let option of filteredOptions | async"
              [value]="option"
            >
              {{ option }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>
    </div>
  </mat-card>
</div>
