<div class="container">
  <mat-card class="card">
    <h1 class="mat-h1">Form Group</h1>

    <form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="example-form">
      <mat-form-field appearance="fill" class="example-full-width">
        <mat-label> First Name:</mat-label>
        <input matInput formControlName="firstName" />
        <mat-error *ngIf="myForm.get('firstName').errors?.required"
          >Please enter a name</mat-error
        >
        <mat-error *ngIf="myForm.get('firstName').errors?.nameAlreadyTaken"
          >Name is already taken</mat-error
        >
      </mat-form-field>

      <p>status {{ myForm.get('firstName').status | json }}</p>
      <p>value {{ myForm.get('firstName').value | json }}</p>
      <p>errors {{ myForm.get('firstName').errors | json }}</p>

      <mat-form-field appearance="fill" class="example-full-width">
        <mat-label> Last Name:</mat-label>
        <input matInput formControlName="lastName" />
      </mat-form-field>

      <mat-form-field appearance="fill" class="example-full-width">
        <mat-label>Age:</mat-label>
        <input matInput formControlName="age" type="number" required />
        <mat-error *ngIf="myForm.get('age').errors?.required"
          >Please enter your age</mat-error
        >
        <mat-error *ngIf="myForm.get('age').errors?.ageNotValid"
          >This age is not valid (0 - 100)</mat-error
        >
        <mat-error *ngIf="myForm.get('age').errors?.provideMinAge"
          >For this Room you have to be over 18 years old</mat-error
        >
      </mat-form-field>

      <mat-form-field>
        <mat-label>Request room access</mat-label>
        <mat-select formControlName="room" required>
          <mat-option *ngFor="let room of rooms" [value]="room">
            {{ room.text }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <br />

      <!-- <app-block-buttons formControlName="toggle"></app-block-buttons> -->

      <mat-card-actions align="end">
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="!myForm.valid"
        >
          Submit
        </button>
      </mat-card-actions>

      <mat-error *ngIf="myForm.errors?.roomOnlyWith18"
        >For this Room you have to be over 18 years old</mat-error
      >
    </form>
  </mat-card>
</div>
