<div class="container">
  <mat-card class="card">
    <h1 class="mat-h1">Form Control</h1>

    <div class="example-form">
      <mat-form-field appearance="fill" class="example-form">
        <input
          matInput
          [formControl]="myFirstControl"
          [errorStateMatcher]="matcher"
        />
        <mat-error *ngIf="myFirstControl.hasError('email')">
          Bitte geben sie eine valide Email an
        </mat-error>
      </mat-form-field>
      <p>
        value: {{ myFirstControl.value | json }}<br />
        touched: {{ myFirstControl.touched | json }}<br />
        untouched: {{ myFirstControl.untouched | json }}<br />
        pristine: {{ myFirstControl.pristine | json }}<br />
        dirty: {{ myFirstControl.dirty | json }}<br />
        status: {{ myFirstControl.status | json }}<br />
        errors: {{ myFirstControl.errors | json }}<br />
        valid: {{ myFirstControl.valid | json }}<br />
      </p>

      <mat-card-actions align="end">
        <button mat-raised-button color="primary" (click)="setValue()">
          SetValue
        </button>
        <button mat-raised-button color="primary" (click)="patchValue()">
          PatchValue
        </button>
        <button mat-raised-button color="primary" (click)="submitted()">
          Submit
        </button>
      </mat-card-actions>
    </div>
  </mat-card>
</div>
