<mat-card>
  <mat-card-header>
    <mat-card-title>Form Array</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <div>
      <form [formGroup]="myFormGroup">
        <div formArrayName="myFormArray">
          <mat-form-field
            *ngFor="let control of formArray.controls; index as i"
            appearance="fill"
          >
            <input matInput [formControlName]="i" />
          </mat-form-field>
        </div>
      </form>
      {{ myFormGroup.value | json }}
      <mat-card-actions align="end">
        <button mat-raised-button color="primary" (click)="addControl()">
          Add Control
        </button>

        <button mat-raised-button color="primary" (click)="submitted()">
          Submit
        </button>
      </mat-card-actions>
    </div>
  </mat-card-content>
</mat-card>
