<mat-card>
  <mat-card-header>
    <mat-card-title>Form Control</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <div class="example-form">
      <mat-form-field class="example-full-width">
        <input
          matInput
          [formControl]="myFirstControl"
          [errorStateMatcher]="matcher"
        />
        <mat-error *ngIf="myFirstControl.hasError('required')">
          Bitte geben sie eine valide Email an
        </mat-error>
      </mat-form-field>

      <p>
        value: {{ myFirstControl.value | json }}<br />
        touched: {{ myFirstControl.touched | json }}<br />
        untouched: {{ myFirstControl.untouched | json }}<br />
        pristine: {{ myFirstControl.pristine | json }}<br />
        dirty: {{ myFirstControl.dirty | json }}<br />
        status: {{ myFirstControl.status | json }}<br />
        errors: {{ myFirstControl.errors | json }}<br />
        valid: {{ myFirstControl.valid | json }}<br />
      </p>
    </div>
  </mat-card-content>

  <mat-card-actions align="end">
    <div class="button-row">
      <button mat-raised-button color="primary" (click)="setValue()">
        SetValue
      </button>
      <button mat-raised-button color="primary" (click)="patchValue()">
        PatchValue
      </button>
      <button mat-raised-button color="primary" (click)="submitted()">
        Submit
      </button>
    </div>
  </mat-card-actions>
</mat-card>
